body{
    background-color: antiquewhite;
    margin: auto;

}

.NestedHeader{
    background-color: bisque;
    margin: 5px;
    border: 2px solid black;
    padding:5px;

}
.Img1{
    width: 100px;
    height: 100px;
    border: 1px  black dotted;
}
.SamplePic{
    width: 100px;
    height: 100px;
}
nav,ul{
    display: flex;
   
}
li{
    list-style: none;
    padding:25px;
}

.Menu{
    float: right;
}